@mixin flex($justify:center,$align:center,$direction:row){
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction:$direction;
}
@mixin border-radius($top-left, $top-right, $bottom-right, $bottom-left) {
  border-radius: $top-left $top-right $bottom-right $bottom-left;
  //border-top-left-radius: $top-left;
  //border-top-right-radius: $top-right;
  //border-bottom-right-radius: $bottom-right;
  //border-bottom-left-radius: $bottom-left;
}
