
//colors
$color-blue: #283045;
$color-mobile-dark:#353535;
$color-mobile-medium-blue: #354056;
$color-theme-light-blue: #686e7c;
$color-blackish: #0e0e0e;
$color-light-black:#434343;
$color-orange: #ff8700;
$color-green: #badd28;
$color-saving-price:#00cb71;
$color-main-blue: #00c3dd;
$color-success:#68d264;
$color-turquoise-blue: #00afc6;
$color-red: red;
$color-red-strikethrough: #ff2d2d;
$color-danger:#fd4e4e;
$color-orange-offer: #ff8700;
$color-whitesmoke-background: #f8f8f8;
$color-theme-light-blue: #686e7c;
$color-hr-light-grey: #f7f7f7;
$color-light-grey: #e3e3e3;
$color-bluish:#303d5e;
$color-filter-select-Dblue: #313e61;
$color-theme-greyish:  #e8e8e8;
$color-grey-background: #f8f8f8;
$color-grey-text: #0e0e0e;
$color-yellowish: #fbbe51
