@import '~assets/scss/vars.scss';
@import '~assets/scss/mixins.scss';

.left-sidebar-container {
  height: 100%;
  @include flex($justify: flex-start, $align: flex-start, $direction: column);
  padding: 30px 30px 20px;
  .top-heading {
    @include flex($justify: flex-start, $align: flex-start, $direction: column);
    .text {
      color: $color-blackish;
      font-size: 18px;
    }
    .location {
      color: rgba($color-blackish, 0.5);
      font-size: 14px;
      .fas {
        font-size: 14px;
        color: $color-yellowish;
      }
    }
  }
  .list-content {
    width: 100%;
    @include flex($justify: flex-start, $align: flex-start, $direction: column);
    margin-top: 20px;
    .list-content-item {
      @include flex();
      padding: 10px 0;
      font-size: 18px;
      .fas-div {
        font-size: 25px;
        font-weight: 400;
        min-width: 35px;
      }
      .name {
        margin-left: 15px;
        font-weight: 200;
      }

      &.active {
        color: $color-yellowish;
      }
      &:last-child {
        padding-bottom: 0;
      }
    }
  }
  div.location-div {
    font-size: 16px;
    font-weight: 300;
    color:rgba($color-blackish, 0.6);
    padding: 20px 0;
    border-bottom: 1px solid $color-grey-text;
    border-top: 1px solid $color-grey-text;
    margin-top: 20px;
    br {
      line-height: 1;
    }
    div {
      padding-bottom: 8px;
    }
  }
  .email {
    font-weight: 500;
    color: #000;
    margin-top: 20px;
  }
}
