<div class="home-container">
  <app-header></app-header>
  <div class="content-container">
    <div class="left-sidebar">
      <app-left-sidebar></app-left-sidebar>
    </div>
  <div class="data-container">

    <div class="heading-row">
      <div class="text active">
        Point of Sale
      </div>
     <div class="text ">
        Billing History
      </div>
    </div>
   <div class="center-content">
     <app-center-content></app-center-content>
   </div>
    <div class="right-sidebar">
      <app-right-sidebar></app-right-sidebar>
    </div>
  </div>
  </div>
</div>

